body{
    display: flex;
    justify-content: space-between;
    margin: 0%;
    background-color: rgb(88, 81, 95);
    color: white;
    font-family: 'Open Sans', sans-serif;
}
@media all and (max-width:1024px) {
    body{
        width: 100%;
        justify-content: center;
    }
    .bandeCouleur{
        display: none;
    }
    .details{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    section{
        min-width: 80%;
        margin-top: 1% ;
    }
    img{
        margin-right:0;
    }
}
img{
    max-width: 8%;
    float: right;
    margin-right: 2%;
}
.arrondi{
    border-radius: 10px;
    border: solid 2px white;
}
.bandeCouleur{
    background-color: rgb(140, 127, 255);
    height: 300px;
    width: 15%;
    margin-top: 1%;
    margin-left: 1%;
}
.contenuCv{
    width: 80%;
}
h1{
    text-align: center;
}
section{
    width: 25%;
    margin-right: 2%;
    padding: 0 1% ;
}
.details{
    display: flex;
    justify-content: space-between;
}
